@charset 'utf-8';
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*清除浮动*/
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
body {
  width: 100%;
}
/*头部*/
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
header .header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
header .header .logo {
  margin-top: 10px;
  width: 432px;
  height: 62px;
  float: left;
}
header .header .right {
  float: right;
}
header .header .right .language ul li {
  float: right;
  margin-left: 10px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
header .header .right .language ul li select {
  background-color: #F28900;
  width: 110px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}
header .header .right .language ul li select option {
  background-color: #fff;
  color: black;
}
header .header .right .language ul li span {
  color: #F26D01;
}
header .header .right .daohang ul {
  margin-right: -18px;
}
header .header .right .daohang ul li {
  float: right;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 15px;
}
header .header .right .daohang ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #333333;
  text-decoration: none;
  outline: none;
}
header .header .right .daohang ul li:hover a {
  color: #F26D01;
}
header .header .right .daohang ul .li a {
  color: #F26D01;
}
/*content*/
.content {
  width: 100%;
  margin-top: 300px;
}
.content .flex-slider {
  width: 1349px;
  height: 181px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.content .flex-slider li {
  float: left;
}
.content .flex-slider li .media {
  margin: 0 0px;
}
.content .flex-slider li .media img {
  width: 100%;
  padding: 3px;
  border: 5px solid #fff;
}
.content .flex-slider li .media img:hover {
  border: 5px solid #333;
}
.content #flexiselDemo1 {
  display: none;
}
.content .nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.content .nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.content .nbs-flexisel-inner {
  overflow: hidden;
  margin: 0px auto;
}
.content .nbs-flexisel-item {
  float: left;
  margin: 0;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}
.content .nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
}
.fourth {
  width: 100%;
  height: 500px;
  background-image: url(../images/sec4-b.jpg);
  background-repeat: no-repeat;
}
.fourth .top h2 {
  width: 250px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  color: #B4B4C4;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.fourth .top h2 .big {
  color: #F65600;
}
.fourth .ul1 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.fourth .ul1 ul li {
  height: 30px;
  line-height: 30px;
  float: left;
  padding: 0 20px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.fourth .ul1 ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #777777;
  outline: none;
}
.fourth .ul1 .li1 {
  color: #F65600;
  border: 1px solid #F65600;
}
.fourth .ul1 ul li:hover {
  color: #F65600;
  border: 1px solid #F65600;
}
.fourth .photo {
  width: 100%;
  height: 260px;
  background-image: url(../images/sec4-b2.jpg);
  background-repeat: no-repeat;
}
.fourth .photo ul {
  width: 780px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
}
.fourth .photo ul li {
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  position: relative;
}
.fourth .photo ul li a {
  overflow: hidden;
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}
.fourth .photo ul li a .cont {
  position: absolute;
  display: none;
}
.fourth .photo ul li a .cont .p1 {
  font-size: 18px;
  font-weight: bold;
}
.fourth .photo ul li a .cont .p2 {
  font-size: 12px;
}
.fourth .photo ul li a .border {
  position: absolute;
  overflow: hidden;
  background: #ffffff;
}
.fourth .photo ul li a .border-t,
.fourth .photo ul li a .border-b {
  height: 1px;
}
.fourth .photo ul li a .border-r,
.fourth .photo ul li a .border-l {
  width: 1px;
}
.fourth .photo ul li a .border-t {
  top: 8px;
  right: 100%;
  left: 8px;
}
.fourth .photo ul li a .border-b {
  bottom: 8px;
  left: 100%;
  right: 8px;
}
.fourth .photo ul li a .border-r {
  right: 8px;
  bottom: 100%;
  top: 8px;
}
.fourth .photo ul li a .border-l {
  left: 8px;
  top: 100%;
  bottom: 8px;
}
.fourth .photo ul li a:hover {
  background-color: rgba(232, 114, 50, 0.5);
}
.fourth .photo ul li a:hover .border-t,
.fourth .photo ul li a:hover .border-b,
.fourth .photo ul li a:hover .border-l,
.fourth .photo ul li a:hover .border-r {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.fourth .photo ul li a:hover .border-t {
  right: 8px;
}
.fourth .photo ul li a:hover .border-b {
  left: 8px;
}
.fourth .photo ul li a:hover .border-r {
  bottom: 8px;
}
.fourth .photo ul li a:hover .border-l {
  top: 8px;
}
.fourth .photo ul li a:hover .cont {
  display: block;
}
.fourth .photo ul .li1 {
  width: 260px;
  height: 260px;
  background-image: url(../images/201506021610103.jpg);
}
.fourth .photo ul .li1 .cont {
  width: 200px;
  bottom: 20px;
  left: 30px;
}
.fourth .photo ul .li2,
.fourth .photo ul .li3,
.fourth .photo ul .li4,
.fourth .photo ul .li5,
.fourth .photo ul .li6,
.fourth .photo ul .li7,
.fourth .photo ul .li8,
.fourth .photo ul .li9 {
  width: 130px;
  height: 130px;
}
.fourth .photo ul .li2 .cont,
.fourth .photo ul .li3 .cont,
.fourth .photo ul .li4 .cont,
.fourth .photo ul .li5 .cont,
.fourth .photo ul .li6 .cont,
.fourth .photo ul .li7 .cont,
.fourth .photo ul .li8 .cont,
.fourth .photo ul .li9 .cont {
  width: 100px;
  top: 20px;
  left: 20px;
}
.fourth .photo ul .li2 {
  background-image: url(../images/20150603173020401.jpg);
}
.fourth .photo ul .li3 {
  background-image: url(../images/20150603172631323.jpg);
}
.fourth .photo ul .li4 {
  background-image: url(../images/20150601102804616.jpg);
}
.fourth .photo ul .li5 {
  background-image: url(../images/20150603171041121.jpg);
}
.fourth .photo ul .li6 {
  background-image: url(../images/20150603170408144.jpg);
}
.fourth .photo ul .li7 {
  background-image: url(../images/20150603170736716.jpg);
}
.fourth .photo ul .li8 {
  background-image: url(../images/20150603164420940.jpg);
}
.fourth .photo ul .li9 {
  background-image: url(../images/20150603165937215.jpg);
}
.fourth .bottom {
  width: 100%;
  height: 110px;
  background-image: url(../images/black.6.png);
}
.fourth .bottom ul {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.fourth .bottom ul li {
  width: 200px;
  color: #fff;
  float: left;
  margin-right: 50px;
}
.fourth .bottom ul li .div {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #EA3500;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}
.fourth .bottom ul li .div .span1 {
  font-size: 40px;
}
.fourth .bottom ul li .div .span2 {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  border: 1px solid #EA3500;
  z-index: 2;
}
.fourth .bottom ul li p {
  font-size: 12px;
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
/*尾部*/
.footer {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url(../images/black.6.png);
}
.footer .logo {
  width: 500px;
  height: 30px;
  position: absolute;
  top: 24%;
  left: 50%;
  margin-left: -200px;
}
.footer .logo a {
  display: block;
  width: 272px;
  height: 27px;
  float: left;
}
.footer .logo p {
  float: left;
  width: 200px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  color: #AAAAAA;
}
.footer .kong {
  width: 900px;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -450px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  padding: 30px 220px 25px 220px;
}
.footer .kong ul li {
  float: left;
  margin-left: 50px;
}
.footer .kong ul li a {
  font-size: 14px;
  color: #FFFFFF;
}
.footer .kong ul li:hover a {
  color: #F28F00;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .fenx {
  width: 250px;
  position: absolute;
  top: 52%;
  left: 50%;
  margin-left: -125px;
}
.footer .fenx ul li {
  float: left;
  margin-left: 5px;
}
.footer .fenx ul li .a1,
.footer .fenx ul li .a2,
.footer .fenx ul li .a3,
.footer .fenx ul li .a4,
.footer .fenx ul li .a5,
.footer .fenx ul li .a6 {
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}
.footer .fenx ul li .a1 {
  background-image: url(../images/icons_1_32.png);
}
.footer .fenx ul li .a2 {
  background-image: url(../images/icons_1_32.png);
  background-position: 0 -50px;
}
.footer .fenx ul li .a3 {
  background-image: url(../images/icons_1_32.png);
  background-position: 0 -102px;
}
.footer .fenx ul li .a4 {
  background-image: url(../images/icons_1_32.png);
  background-position: 0 -255px;
}
.footer .fenx ul li .a5 {
  background-image: url(../images/icons_1_32.png);
  background-position: 0 -205px;
}
.footer .fenx ul li .a6 {
  background-image: url(../images/icons_1_32.png);
  background-position: 0 -1610px;
}
.footer .weihu {
  width: 900px;
  position: absolute;
  top: 62%;
  left: 50%;
  margin-left: -450px;
  color: #AAAAAA;
}
.footer .weihu .phone,
.footer .weihu .xy,
.footer .weihu #author {
  width: 100%;
  font-size: 12px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.footer .weihu .phone a,
.footer .weihu .xy a,
.footer .weihu #author a {
  color: #AAAAAA;
}
.footer .weihu .phone a:hover,
.footer .weihu .xy a:hover,
.footer .weihu #author a:hover {
  color: #F28F00;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .ma {
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -110px;
  width: 250px;
  height: 110px;
}
.footer .ma ul li {
  float: left;
  width: 110px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
